.p {
  position: relative;
  margin-top: 10px;
  text-align: center;
  font-size: 36px;
  color: #fff;
}
.h1 {
  position: relative;
  margin-top: 60px;
  text-align: center;
  font-size: 68px;
  color: #fff;
}
