@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.info {
  display: flex;
  flex-direction: row;
  width: 1032px;

  .item {
    display: flex;
    flex-direction: column;
    font-size: large;
    margin: 50px 40px 20px 20px;
    box-sizing: border-box;

    button {
      background-color: #f55a5a;
      width: 156px;
      height: 40px;
      border: 2px;
      border-radius: 8px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 24px;
      box-align: Center;
      margin: 5px;
      color: white;
    }
    .rating {
      color: #e2b33a;
      font: "Roboto", sans-serif;

      size: 14px;
      margin: 10px 0px;
    }
    .h2 {
      font: "Roboto", sans-serif;

      font-size: 20px;
      color: #949494;
      margin: 5px 0px;
    }
    i {
      margin-right: 10px;
      margin-top: 5px;
      color: #6f6464;
    }
    .h1 {
      font: "Roboto", sans-serif;
      font-weight: 600;
      font-size: 28px;
      margin-top: 20px;
      margin-bottom: 5px;
      color: var(--darkgrey, #252525);
      font-size: 32px;
      line-height: 32px; /* 100% */
    }
    .about {
      margin: 5px 0px;
    }
  }

  .image {
    width: 250px;
    height: 340px;
    border-radius: 8px;
    margin: 50px 20px 20px 60px;
  }
}
