body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth {
  display: flex;
  width: 341px;
  padding: 2px 0px 148px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 40px;
  h1 {
    color: var(--darkgrey, #252525);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 66.667% */
  }
  p {
    margin: 5px;
    display: flex;
    width: 324px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #704e4e;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
  }
  input {
    color: var(--darkgrey, #252525);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    width: 340px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--lightgrey, #949494);
    background: var(--white, #fff);
    padding: 8px;
  }
}
.btn {
  border: 2px;
  color: white;
  color: var(--white, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  width: 341px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--lightred, #f55a5a);
  cursor: pointer;
}
.codeBtn {
  cursor: pointer;
  margin-bottom: 10px;
  width: 338px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--grey, #585858);
  color: var(--grey, #585858);
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
}
