.schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.cinema {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin: 15px;
}
.btn {
  background-color: #966d6d;
  width: 130px;
  height: 40px;
  border: 2px;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  box-align: Center;
  margin: 5px;
  color: white;
  cursor: pointer;
}
.btn.clicked {
  background-color: #f55a5a;
  width: 140px;
  height: 50px;
}
.time {
  background-color: white;
  width: 90px;
  height: 40px;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  box-align: Center;
  margin: 15px;
  cursor: pointer;
}
.time.redHall {
  border: 3px solid salmon;
}
.time.blueHall {
  border: 3px solid rgb(106, 106, 241);
}
.time.greenHall {
  border: 3px solid rgb(28, 215, 125);
}
.place {
  background-color: white;
  width: 30px;
  height: 50px;
  border-radius: 8px;
  border: 3px solid green;
  margin: 5px 10px;
  cursor: pointer;
}
.place.econom {
  border: 3px solid gray;
}
.place.comfort {
  border: 3px solid #e2b33a;
}
.place.blocked {
  border: 0px;
  background-color: gray;
  color: gray;
}
.ticket {
  font-size: 20px;
}
.ticket .info {
  border: 3px dashed grey;
  padding: 20px;
  height: 250px;
  border-radius: 16px;
}
.ticket .info .h1 {
  color: #b89e9e;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-top: 5px;
}
.ticket .info p {
  font-size: 20px;
  color: #585858;
  font-weight: 500;
  margin-bottom: 2px;
}
.ticket .cost {
  font-size: 20px;
  color: #585858;
  font-weight: 600;
  height: 110px;
  text-align: right;
  border: 3px dashed grey;
  border-top: none;
  padding: 10px;
  border-radius: 16px;
}
.ticket .btn {
  background-color: #f55a5a;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  padding: 3px;
}
